<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Mitch Heard{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="Mitch Heard">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <style>
              body {
                  padding-top: 50px;
                  padding-bottom: 20px;
              }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/zocial.css') }}" type="text/css" media="screen" />
        <link href="{{ url_for('static', filename='lightbox/css/lightbox.css') }}" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans|Baumans' rel='stylesheet' type='text/css'/>



        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='tinymce/tinymce.min.js') }}"></script>
        <script type="text/javascript">
        tinymce.init({
            selector: "textarea"
         });
        </script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
 </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> bfooter-rowser. Please <a href="http://bfooter-rowsehappy.com/">upgrade your bfooter-rowser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar navbar-inverse navbar-fixed-top role=" navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">Mitch Heard</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                {% block admin_navigation %}

                {% endblock %}
                </div>
                <!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div>
        <!-- Main jumbotron for a primary marketing message or call to action -->

    {% block jumbotron %}
        <div class="jumbotron">
          <div class="container">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
          </div>
        </div>

    {% endblock %}
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>

        <div id="footer-wrapper">
				<footer id="footer" class="container">
					<div class="footer-row">
						<div class="footer-column">

							<!-- Links -->
								<section class="widget-links">
									<h2>Random Stuff</h2>
									<ul class="style2">
										<li><a href="#">Etiam feugiat condimentum</a></li>
										<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
										<li><a href="#">Sed porttitor cras in erat nec</a></li>
										<li><a href="#">Felis varius pellentesque potenti</a></li>
										<li><a href="#">Nullam scelerisque blandit leo</a></li>
									</ul>
								</section>

						</div>
						<div class="footer-column">

							<!-- Links -->
								<section class="widget-links">
									<h2>Random Stuff</h2>
									<ul class="style2">
										<li><a href="#">Etiam feugiat condimentum</a></li>
										<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
										<li><a href="#">Sed porttitor cras in erat nec</a></li>
										<li><a href="#">Felis varius pellentesque potenti</a></li>
										<li><a href="#">Nullam scelerisque blandit leo</a></li>
									</ul>
								</section>

						</div>
						<div class="footer-column">

							<!-- Work -->
								<section class="widget-links">
									<h2>Work</h2>
										<li><a href="https://github.com/mitchheard">GitHub</a></li>
										<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
										<li><a href="#">Sed porttitor cras in erat nec</a></li>
										<li><a href="#">Felis varius pellentesque potenti</a></li>
										<li><a href="#">Nullam scelerisque blandit leo</a></li>
								</section>

						</div>
						<div class="footer-column">

							<!-- Social -->
								<section class="widget-contact last">
                                   <h2>Social</h2>
									<ul>
										<li><a href="http://twitter.com/mitchheard" class="fa fa-twitter solo"><span>Twitter</span></a></li>
										<li><a href="http://facebook.com" class="fa fa-facebook solo"><span>Facebook</span></a></li>
										<li><a href="http://www.linkedin.com/in/mitchheard" class="fa fa-dribbble solo"><span>Linked-In</span></a></li>
										<li><a href="https://plus.google.com/110435217182535622882" class="fa fa-google-plus solo"><span>Google+</span></a></li>
									</ul>
									<p>1234 Fictional Road Suite #5432<br />
									Nashville, Tennessee 00000-0000<br />
									(800) 555-0000</p>
								</section>

						</div>
					</div>
				</footer>
			</div>


        <!-- /container -->
        {% block js_footer %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.10.1.min.js')}}"><\/script>')</script>
            <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
            <script src="{{ url_for('static', filename='js/main.js')}}"></script>
            <script src="{{ url_for('static', filename='lightbox/js/lightbox-2.6.min.js') }}"></script>
            <script>
                var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src='//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
        {% endblock %}
    </body>
</html>