<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Mitch Heard{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="Mitch Heard">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <style>
              body {
                  padding-top: 50px;
                  padding-bottom: 20px;
              }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/zocial.css') }}" type="text/css" media="screen" />
        <link href="{{ url_for('static', filename='lightbox/css/lightbox.css') }}" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans|Baumans' rel='stylesheet' type='text/css'/>



        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
 </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('index') }}">Mitch Heard</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('profile') }}">Create Post</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              {% if 'email' in session %}
                <form class="navbar-form navbar-right" action="{{ url_for('signout') }}">
                   <button type="submit" class="btn btn-success">Sign Out</button>
                </form>
              {% else %}

              {% for message in form.email.errors %}
                <div class="alert alert-error">{{ message }}</div>
              {% endfor %}

              {% for message in form.password.errors %}
                <div class="alert alert-error">{{ message }}</div>
              {% endfor %}
              <form class="form navbar-form navbar-right" action="{{ url_for('index') }}" method=post>

                {{ form.hidden_tag() }}

                <div class="form-group">
                  <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <input id="password" name="password" type="password" placeholder="Password" class="form-control">
                </div>

                <button id= "submit" type="submit" class="btn btn-success">Sign in</button>
              </form>
              {% endif %}
            </div><!--/.navbar-collapse -->
          </div>
        </div>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
          </div>
        </div>

        <div class="container">
            {% block content %}

            {% endblock %}

            <hr>
            <footer>
                <p>&copy; Company 2013</p>
            </footer>
        </div>
        <!-- /container -->
        {% block js_footer %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.10.1.min.js')}}"><\/script>')</script>
            <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
            <script src="{{ url_for('static', filename='js/main.js')}}"></script>
            <script src="{{ url_for('static', filename='lightbox/js/lightbox-2.6.min.js') }}"></script>
            <script>
                var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src='//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
        {% endblock %}
    </body>
</html>



{#    <div class="container">#}
{#        <div class="page-header">#}
{#            <div class="pager-banner">#}
{#                <div class="page-banner-left">#}
{#                    <div style="float: left; width: 50%;">#}
{#                        <div style="text-align: right; font-family: Georgia, serif; padding-right: 10px;">#}
{#                            <span style="font-size: 55px;">Mitch Heard</span>#}
{#                        </div>#}
{#                        <div style="text-align: right; font-family: Georgia, serif; margin-top: 0; padding-right: 10px;">#}
{#                            <a href="mailto:&#109;&#105;&#116;&#099;&#104;&#104;&#101;&#097;&#114;&#100;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" class="zocial icon email" alt="Send Mitch an Email">Send a message</a>#}
{#                            <a href="http://www.facebook.com/mitchheard" class="zocial icon facebook" alt="Visit Mitch on Facebook">Facebook</a>#}
{#                            <a href="https://plus.google.com/110435217182535622882" class="zocial icon googleplus" alt="Visit Mitch on Google+">Google+</a>#}
{#                            <a href="http://twitter.com/mitchheard" class="zocial icon twitter" alt="Tweet Tweet">Twitter</a>#}
{#                            <a href="http://www.linkedin.com/in/mitchheard" class="zocial icon linkedin" alt="See Mitch's resume">LinkedIn</a>#}
{#                            <a href="https://github.com/mitchheard" class="zocial icon github" alt="Mitch's programming projects">Github</a>#}
{#                            <a href="http://flickr.com/photos/mitchheard" class="zocial icon flickr" alt="Mitch's photos">Flickr</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="page-banner-right">#}
{#                    <div style="font-family: Georgia, serif; padding-left: 10px; margin-top: 22px;">#}
{#                        <div style="font-size: 30px;">Austin, Texas</div>#}
{#                        <div style="font-size: 40px; margin-top: 6px;">Works at <a href="http://www.bazaarvoice.com/">Bazaarvoice</a></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    <header>#}
{#        <div class="navbar">#}
{#            <div class="navbar-inner">#}
{#                <ul class="nav">#}
{#                    <li><a href="{{ url_for('index') }}">Home</a></li>#}
{#                    {% if 'email' in session %}#}
{##}
{#                    <li><a class='active' href="{{ url_for('profile') }}">Profile</a></li>#}
{#                    <li><a href="{{ url_for('signout') }}">Sign Out</a></li>#}
{#                    {% else %}#}
{#                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>#}
{#                    <li><a href="{{ url_for('signin') }}">Sign In</a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </header>#}
{#        {% block content %}#}
{##}
{#        {% endblock %}#}
{#        <hr/>#}
{#        <div class="modal-footer">#}
{#                <h4>&#64 mitchheard</h4>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% block js_footer %}#}
{#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
{#    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>#}
{#    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>#}
{##}
{#    <script src="{{ url_for('static', filename='lightbox/js/lightbox-2.6.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/prefixfree.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/jquery.slides.min.js') }}"></script>#}

